@font-face {
  font-family:arial-regular;
  src:url(arial.ttf);
}
@font-face {
  font-family:arial-italic;
  src:url(arial-corsivo-2.ttf);
}
@font-face {
  font-family:neuton-bold;
  src:url(Neuton-Bold.ttf);
}
@font-face {
  font-family:neuton-regular;
  src:url(neuton-regular.ttf);
}
.captions{
    position:relative;
    width:100%;
    margin:10px;
    border-bottom:2px solid black;
}

.caption1{
    position:absolute;
    font-family:arial-regular;

    font-size:12px;
    top:0px;
    left:10px;
}
.caption2{
        font-size:12px;
font-family:arial-regular;

    position:absolute;
    top:0px;
    right:20px;
}
.title1{
    padding-top:20px;
    padding-bottom:5px;
    font-family:arial-regular;
    font-weight:100;
    font-size:15px;
    line-height: 1.5;
 border-bottom:black solid 1px;
margin:auto;
    text-align:center;
}

iframe{
    display:inline-block;
    border:black solid 1px;
    width:300px;
    height:590px;
    background-color:black;
}
.space{
    width:100px;
    height:100vh;
}
.con{
    display:flex;
    text-align:center;
    margin:80px 3%;
}
.container{
margin-right:100px;
}
.sect-1{
    font-family:arial-regular;
    font-weight:400;
    font-size:20px;
    letter-spacing:0.5px;
    
}
.box{
    border:black solid 1px;
}
.box-description{
    font-family:neuton-regular;
    font-size:14px;
    text-align:left;
    margin-left:0px;
    width:500px;
}
.box-description li span{
        font-family:arial-regular;
    letter-spacing:0.9px;
    font-size:12px;
}
.italic{
    font-family:'arial-italic';
}
table{
    margin-top:20px;
    margin-left:30px;
    padding:10px 0px 10px 0px;
    border-top:black solid 1px;
}
th{
    font-family:arial-regular;
    font-size:11px;
    padding:5px;
        text-align:left;
    width:80px;
        border-bottom:black solid 1px;


}

td{
    text-align:left;
    font-family:arial-regular;
    font-size:10px;
    padding:5px;

}


.sub-titles{
    display:flex;
    flex-direction:row;
}
.sub-1{
font-family:neuton-bold;
    font-size:16px;
margin:auto;
padding:10px 0px;
}

.title1-1{
    padding-top:20px;
    padding-bottom:5px;
    font-family:arial-regular;
    font-weight:100;
    font-size:15px;
    line-height: 1.5;
 border-bottom:black solid 1px;
 border-top:black solid 2px;
width:1300px;
    margin:auto;
    text-align:center;
}
.paragraphs{
    margin:auto;
    width:1300px;
    height:200px;
    display:flex;
}
.p-1{
       font-family:neuton-regular;
    text-align:left;
    width:700px;
    padding-right:10px;
    padding-left:10px;
    border-right:solid black 1px;
}
.p-1 span{
    font-family:arial-italic;
    letter-spacing:1px;
    font-size:12px;
}
.p-1:first-child{
    border-left:black solid 1px;
}
.line{
    width:100%;
    height:2px;
    background-color:black;
    margin-bottom:40px;
    
}
