@font-face {
  font-family:arial-regular;
  src:url(arial.ttf);
}
@font-face {
  font-family:arial-italic;
  src:url(arial-corsivo-2.ttf);
}
@font-face {
  font-family:neuton-bold;
  src:url(Neuton-Bold.ttf);
}
@font-face {
  font-family:neuton-regular;
  src:url(neuton-regular.ttf);
}
.captions{
    position:relative;
    width:100%;
    margin:10px;
    border-bottom:2px solid black;
}

.caption1{
    position:absolute;
    font-family:arial-regular;

    font-size:12px;
    top:0px;
    left:10px;
}
.caption2{
        font-size:12px;
font-family:arial-regular;
    position:absolute;
    top:0px;
    right:20px;
}
.title{
    padding-top:20px;
    margin:auto;
    text-align:center;
}
.title1{
    font-family:arial-regular;
    font-weight:100;
    font-size:17px;
    line-height: 1.5;
    width:700px;
    border-bottom:solid black 1px;
margin:auto;
}

.title2{
    font-family:neuton-bold;
    font-size:11px;
    padding-bottom:10px;
    border-bottom:black solid 1px;
}
.title2 span{
      font-family:neuton-bold;
    font-size:11px;
    padding: 0 20px;
    border-right:solid 1px black;

}
.title2 span:first-child{
    border-left:solid 1px black;
}
.description{
     margin:auto;
    font-family:arial-regular;
    font-size:10px;
width:400px;
}
.entrance{
    background-color:white;
    border:black solid 1px;
    border-radius:16px;
    padding:10px;
    font-family:neuton-bold;
    margin-top:20px;
    margin-left:43.5%;
    display:inline-block;
}

.entrance a{
    text-decoration: none;
    color:black;
}
.block_image_caption{
    font-family:neuton-regular;
    border:black solid 1px;
    border-radius:16px;
    padding: 5px 5px;

}
:root {
        --margin: 10px;
      }
      html, body {
        margin: 0;
        padding: 0;
      }

      body {
        min-height: 100vh;
        width: 100%;
        background-color: white;
        font-family: Helvetica, sans-serif;
      }

      .wrapper {
        margin: var(--margin);
        padding:0 20px;
      }

      ul {
        list-style-type: none;
      }

      h1 {
        color: white;
      }
      
      #contents {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: var(--margin);
        align-items: start;
        justify-items: start;
        padding: 0;
      }

      img {
        width: 100%;
        height: auto;
      }

      .block {
        padding: var(--margin);
        background-color: white;
      }