@font-face {
  font-family:test;
  src:url(KoreanMouth-Regular.otf);
}
@font-face {
  font-family:nanumbarun;
  src:url(NanumBarunGothic.ttf);
}
@font-face {
  font-family:nanumbarun-bold;
  src:url(NanumBarunGothicBold.ttf);
}
@font-face {
  font-family:nanumbarun-light;
  src:url(NanumBarunGothicLight.ttf);
}
@font-face {
  font-family:nanumbarun-ultralight;
  src:url(NanumBarunGothicUltraLight.ttf);
}
@font-face {
  font-family:eland-b;
  src:url(ELAND-B.ttf);
}
@font-face {
  font-family:eland-l;
  src:url(ELAND-L.ttf);
}
@font-face {
  font-family:eland-m;
  src:url(ELAND-M.ttf);
}
@font-face {
  font-family:gothica1_regular;
  src:url(GothicA1-Regular.ttf);
}
.container{
    margin:auto;
    /*border:black solid 1px;*/
    width:100%;
    height:100vh;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*border:red solid 1px;*/
    height:200px;
    margin-top:30px;
    margin-bottom:8%;

}


.cell{
    width:20.5%;
height:100px;
/*border:black solid 1px;*/
    
}

img{
    width:100%;
    display:inline;
}
.row-1{
    height:130px;
}
.cell-title{
    font-family:'gothica1-regular';
    font-size: 100px;
    text-align:center;
}
.phonetic{
    font-family:'gothica1-regular';
    font-size:18px;
    margin:auto;
    text-align: center;
    padding:14px 0px;
}
input[type="text"]
{
    font-size:100px;
    border-bottom: solid black 1px;
    font-family: 'test';
}