.top{
    position:relative;
    top:-10px;
    width:100%;
    height:10px;
    background-color:#B1000B;
    animation: wah 86400s linear infinite;

}
@keyframes wah{
    0% {right:100%;}
    10%{right:90%;}
    20%{right:80%;}
    30%{right:70%;}
    40%{right:60%;}
    50%{right:50%;}
    60%{right:40%;}
    70%{
    right:30%;
    }
    80%{right:20%}
    90%{right:10%}
    100%{right:0%;}

}

.back{
    position:relative;
    width:100%;
    height:100vh;
    background: url(blackbg.png);
    background-size:500px 500px;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        background-position:0;
    }
    100%{
        background-position:300px;
    }
}