@font-face {
  font-family:KoreanPhonetic;
  src:url(KoreanPhonetic.ttf);
}
@font-face {
  font-family:Helvetica;
  src:url(Helvetica.ttf);
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }

}
.link{
    width:100%;
    position:relative;
}
.link a{
    text-decoration: none;
    font-family:Helvetica;
    font-size:18px;
    padding-bottom: 100px;
    padding-right:40px;
    color:black;
}
.link a:nth-child(3){
    position:absolute;
    left:10px;
    top:0px;
        text-decoration: none;
    font-family:Helvetica;
    font-size:18px;
    padding-bottom: 100px;
    padding-right:40px;
    color:black;
}

.container2 {
  position: relative;
  font-family: KoreanPhonetic; 
    font-size:120px;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: white; /* same as page background */
  animation: typing 8s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 8s;
}
.hiders p:nth-child(3) {
  animation-delay: 16s;
}
.hiders p:nth-child(4) {
  animation-delay: 24s;
}
.hiders p:nth-child(5) {
  animation-delay: 32s;
}
.hiders p:nth-child(6) {
  animation-delay: 40s;
}
.hiders p:nth-child(7) {
  animation-delay: 48s;
}
.hiders p:nth-child(8) {
  animation-delay: 56s;
}
.hiders p:nth-child(9) {
  animation-delay: 64s;
}
.hiders p:nth-child(10) {
  animation-delay: 72s;
}
.hiders p:nth-child(11) {
  animation-delay: 80s;
}
.hiders p:nth-child(12) {
  animation-delay: 88s;
}
.hiders p:nth-child(13) {
  animation-delay: 96s;
}
.hiders p:nth-child(14) {
  animation-delay: 104s;
}
.hiders p:nth-child(15) {
  animation-delay: 112s;
}
.hiders p:nth-child(16) {
  animation-delay: 120s;
}
.hiders p:nth-child(17) {
  animation-delay: 128s;
}
.hiders p:nth-child(18) {
  animation-delay: 136s;
}
.hiders p:nth-child(19) {
  animation-delay: 144s;
}
.hiders p:nth-child(20) {
  animation-delay: 152s;
}
.hiders p:nth-child(21) {
  animation-delay: 160s;
}
.hiders p:nth-child(22) {
  animation-delay: 168s;
}
.hiders p:nth-child(23) {
  animation-delay: 176s;
}
.hiders p:nth-child(24) {
  animation-delay: 180s;
}
.hiders p:nth-child(25) {
  animation-delay: 188s;
}
.hiders p:nth-child(26) {
  animation-delay: 196s;
}
.hiders p:nth-child(27) {
  animation-delay: 204s;
}
.hiders p:nth-child(28) {
  animation-delay: 212s;
}
.hiders p:nth-child(29) {
  animation-delay: 220s;
}
.hiders p:nth-child(30) {
  animation-delay: 228s;
}
.hiders p:nth-child(31) {
  animation-delay: 236s;
}
.hiders p:nth-child(32) {
  animation-delay: 244s;
}
.hiders p:nth-child(33) {
  animation-delay: 252s;
}
.hiders p:nth-child(34) {
  animation-delay: 260s;
}
.hiders p:nth-child(35) {
  animation-delay: 268s;
}
.hiders p:nth-child(36) {
  animation-delay: 276s;
}
.hiders p:nth-child(37) {
  animation-delay: 284s;
}
.hiders p:nth-child(38) {
  animation-delay: 290s;
}
.hiders p:nth-child(39) {
  animation-delay: 298s;
}
.hiders p:nth-child(40) {
  animation-delay: 306s;
}
.hiders p:nth-child(41) {
  animation-delay: 314s;
}
.hiders p:nth-child(42) {
  animation-delay: 322s;
}
.hiders p:nth-child(43) {
  animation-delay: 330s;
}
.hiders p:nth-child(44) {
  animation-delay: 338s;
}
.hiders p:nth-child(45) {
  animation-delay: 346s;
}

.hiders p:nth-child(46) {
  animation-delay: 354s;
}
.hiders p:nth-child(47) {
  animation-delay: 362s;
}
.hiders p:nth-child(48) {
  animation-delay: 370s;
}
.hiders p:nth-child(49) {
  animation-delay: 378s;
}
.hiders p:nth-child(50) {
  animation-delay: 386s;
}
.hiders p:nth-child(51) {
  animation-delay: 394s;
}
.hiders p:nth-child(52) {
  animation-delay: 402s;
}
.hiders p:nth-child(53) {
  animation-delay: 410s;
}
.hiders p:nth-child(54) {
  animation-delay: 418s;
}
.hiders p:nth-child(55) {
  animation-delay: 426s;
}
.hiders p:nth-child(56) {
  animation-delay: 434s;
}
.hiders p:nth-child(57) {
  animation-delay: 442s;
}
.hiders p:nth-child(58) {
  animation-delay: 450s;
}
.hiders p:nth-child(59) {
  animation-delay: 458s;
}
.hiders p:nth-child(60) {
  animation-delay: 466s;
}
.hiders p:nth-child(61) {
  animation-delay: 474s;
}
.hiders p:nth-child(62) {
  animation-delay: 482s;
}
.hiders p:nth-child(63) {
  animation-delay: 490s;
}
.hiders p:nth-child(64) {
  animation-delay: 498s;
}
.hiders p:nth-child(65) {
  animation-delay: 506s;
}
.hiders p:nth-child(66) {
  animation-delay: 514s;
}
.hiders p:nth-child(67) {
  animation-delay: 522s;
}
.hiders p:nth-child(68) {
  animation-delay: 530s;
}
.hiders p:nth-child(69) {
  animation-delay: 538s;
}
.hiders p:nth-child(70) {
  animation-delay: 546s;
}
.hiders p:nth-child(71) {
  animation-delay: 554s;
}
.hiders p:nth-child(72) {
  animation-delay: 562s;
}
.hiders p:nth-child(73) {
  animation-delay: 570s;
}
.hiders p:nth-child(74) {
  animation-delay: 578s;
}
.hiders p:nth-child(75) {
  animation-delay: 586s;
}
.hiders p:nth-child(76) {
  animation-delay: 594s;
}
.hiders p:nth-child(77) {
  animation-delay: 600s;
}
.hiders p:nth-child(78) {
  animation-delay: 608s;
}
.hiders p:nth-child(79) {
  animation-delay: 616s;
}
.hiders p:nth-child(80) {
  animation-delay: 624s;
}
.hiders p:nth-child(81) {
  animation-delay: 632s;
}
.hiders p:nth-child(82) {
  animation-delay: 640s;
}
.hiders p:nth-child(83) {
  animation-delay: 648s;
}
.hiders p:nth-child(84) {
  animation-delay: 656s;
}
.hiders p:nth-child(85) {
  animation-delay: 664s;
}
.hiders p:nth-child(86) {
  animation-delay: 672s;
}
.hiders p:nth-child(87) {
  animation-delay: 680s;
}
.hiders p:nth-child(88) {
  animation-delay: 688s;
}
.hiders p:nth-child(89) {
  animation-delay: 696s;
}
.hiders p:nth-child(90) {
  animation-delay: 704s;
}
.hiders p:nth-child(91) {
  animation-delay: 712s;
}
.hiders p:nth-child(92) {
  animation-delay: 720s;
}
.hiders p:nth-child(93) {
  animation-delay: 728s;
}
.hiders p:nth-child(94) {
  animation-delay: 736s;
}
.hiders p:nth-child(95) {
  animation-delay: 744s;
}
.hiders p:nth-child(96) {
  animation-delay: 780s;
}
.hiders p:nth-child(97) {
  animation-delay: 788s;
}
.hiders p:nth-child(98) {
  animation-delay: 796s;
}
.hiders p:nth-child(99) {
  animation-delay: 804s;
}
.hiders p:nth-child(100) {
  animation-delay: 812s;
}
.hiders p:nth-child(101) {
  animation-delay: 820s;
}
.hiders p:nth-child(102) {
  animation-delay: 828s;
}
.hiders p:nth-child(103) {
  animation-delay: 836s;
}
.hiders p:nth-child(104) {
  animation-delay: 844s;
}
.hiders p:nth-child(105) {
  animation-delay: 852s;
}
.hiders p:nth-child(106) {
  animation-delay: 860s;
}
.hiders p:nth-child(107) {
  animation-delay: 868s;
}
.hiders p:nth-child(108) {
  animation-delay: 876s;
}
.hiders p:nth-child(109) {
  animation-delay: 884s;
}
.hiders p:nth-child(110) {
  animation-delay: 892s;
}
.hiders p:nth-child(111) {
  animation-delay: 900s;
}
.hiders p:nth-child(112) {
  animation-delay: 908s;
}
.hiders p:nth-child(113) {
  animation-delay: 916s;
}
.hiders p:nth-child(114) {
  animation-delay: 924s;
}
.hiders p:nth-child(115) {
  animation-delay: 930s;
}
.hiders p:nth-child(116) {
  animation-delay: 938s;
}
.hiders p:nth-child(117) {
  animation-delay: 946s;
}
.hiders p:nth-child(118) {
  animation-delay: 954s;
}
.hiders p:nth-child(119) {
  animation-delay: 960s;
}
.hiders p:nth-child(120) {
  animation-delay: 968s;
}
.hiders p:nth-child(121) {
  animation-delay: 968s;
}
.hiders p:nth-child(122) {
  animation-delay: 976s;
}
.hiders p:nth-child(123) {
  animation-delay: 984s;
}
.hiders p:nth-child(124) {
  animation-delay: 992s;
}
.hiders p:nth-child(125) {
  animation-delay: 1000s;
}
.hiders p:nth-child(126) {
  animation-delay: 1008s;
}
.hiders p:nth-child(127) {
  animation-delay: 1016s;
}
.hiders p:nth-child(128) {
  animation-delay: 1024s;
}
.hiders p:nth-child(129) {
  animation-delay: 1030s;
}
.hiders p:nth-child(130) {
  animation-delay: 1038s;
}
.hiders p:nth-child(131) {
  animation-delay: 1046s;
}
.hiders p:nth-child(132) {
  animation-delay: 1054s;
}
.hiders p:nth-child(133) {
  animation-delay: 1060s;
}
.hiders p:nth-child(134) {
  animation-delay: 1068s;
}
.hiders p:nth-child(135) {
  animation-delay: 1076s;
}
.hiders p:nth-child(136) {
  animation-delay: 1084s;
}
.hiders p:nth-child(137) {
  animation-delay: 1090s;
}
.hiders p:nth-child(138) {
  animation-delay: 1098s;
}
.hiders p:nth-child(139) {
  animation-delay: 1116s;
}
.hiders p:nth-child(140) {
  animation-delay: 1124s;
}
.hiders p:nth-child(141) {
  animation-delay: 1130s;
}
.hiders p:nth-child(142) {
  animation-delay: 1138s;
}
.hiders p:nth-child(143) {
  animation-delay: 1146s;
}
.hiders p:nth-child(144) {
  animation-delay: 1154s;
}
.hiders p:nth-child(145) {
  animation-delay: 1160s;
}
.hiders p:nth-child(146) {
  animation-delay: 1168s;
}
.hiders p:nth-child(147) {
  animation-delay: 1172s;
}
.hiders p:nth-child(148) {
  animation-delay: 1180s;
}
.hiders p:nth-child(149) {
  animation-delay: 1188s;
}
.hiders p:nth-child(150) {
  animation-delay: 1196s;
}
.hiders p:nth-child(151) {
  animation-delay: 1204s;
}
.hiders p:nth-child(152) {
  animation-delay: 1212s;
}
.hiders p:nth-child(153) {
  animation-delay: 1220s;
}
.hiders p:nth-child(154) {
  animation-delay: 1228s;
}
.hiders p:nth-child(155) {
  animation-delay: 1236s;
}
.hiders p:nth-child(156) {
  animation-delay: 1244s;
}
.hiders p:nth-child(157) {
  animation-delay: 1252s;
}
.hiders p:nth-child(158) {
  animation-delay: 1260s;
}
.hiders p:nth-child(159) {
  animation-delay: 1268s;
}
.hiders p:nth-child(160) {
  animation-delay: 1276s;
}
.hiders p:nth-child(168) {
  animation-delay: 1284s;
}
.hiders p:nth-child(169) {
  animation-delay: 1292s;
}
.hiders p:nth-child(170) {
  animation-delay: 1300s;
}
.hiders p:nth-child(171) {
  animation-delay: 1308s;
}
.hiders p:nth-child(172) {
  animation-delay: 1316s;
}
.hiders p:nth-child(173) {
  animation-delay: 1324s;
}
.hiders p:nth-child(174) {
  animation-delay: 1330s;
}
.hiders p:nth-child(175) {
  animation-delay: 1338s;
}
.hiders p:nth-child(176) {
  animation-delay: 1346s;
}
.hiders p:nth-child(177) {
  animation-delay: 1354s;
}
.hiders p:nth-child(178) {
  animation-delay: 1360s;
}
.hiders p:nth-child(179) {
  animation-delay: 1368s;
}
.hiders p:nth-child(180) {
  animation-delay: 1376s;
}
.hiders p:nth-child(181) {
  animation-delay: 1384s;
}
.hiders p:nth-child(182) {
  animation-delay: 1392s;
}
.hiders p:nth-child(183) {
  animation-delay: 1400s;
}
.hiders p:nth-child(184) {
  animation-delay: 1408s;
}
.hiders p:nth-child(185) {
  animation-delay: 1416s;
}
.hiders p:nth-child(186) {
  animation-delay: 1424s;
}
.hiders p:nth-child(187) {
  animation-delay: 1430s;
}
.hiders p:nth-child(188) {
  animation-delay: 1438s;
}
.hiders p:nth-child(189) {
  animation-delay: 1446s;
}
.hiders p:nth-child(190) {
  animation-delay: 1454s;
}
.hiders p:nth-child(191) {
  animation-delay: 1460s;
}
.hiders p:nth-child(192) {
  animation-delay: 1468s;
}
.hiders p:nth-child(193) {
  animation-delay: 1476s;
}
.hiders p:nth-child(194) {
  animation-delay: 1484s;
}
.hiders p:nth-child(195) {
  animation-delay: 1492s;
}
.hiders p:nth-child(196) {
  animation-delay: 1500s;
}
.hiders p:nth-child(197) {
  animation-delay: 1508s;
}
.hiders p:nth-child(198) {
  animation-delay: 1516s;
}
.hiders p:nth-child(199) {
  animation-delay: 1524s;
}
.hiders p:nth-child(200) {
  animation-delay: 1532s;
}
.hiders p:nth-child(201) {
  animation-delay: 1540s;
}
.hiders p:nth-child(202) {
  animation-delay: 1548s;
}
.hiders p:nth-child(203) {
  animation-delay: 1556s;
}
.hiders p:nth-child(204) {
  animation-delay: 1564s;
}
.hiders p:nth-child(205) {
  animation-delay: 1572s;
}
.hiders p:nth-child(206) {
  animation-delay: 1580s;
}
.hiders p:nth-child(207) {
  animation-delay: 1588s;
}
.hiders p:nth-child(208) {
  animation-delay: 1596s;
}
.hiders p:nth-child(209) {
  animation-delay: 1604s;
}
.hiders p:nth-child(210) {
  animation-delay: 1612s;
}
.hiders p:nth-child(211) {
  animation-delay: 1620s;
}
.hiders p:nth-child(212) {
  animation-delay: 1628s;
}
.hiders p:nth-child(213) {
  animation-delay: 1636s;
}
.hiders p:nth-child(214) {
  animation-delay: 1644s;
}
.hiders p:nth-child(215) {
  animation-delay: 1652s;
}
.hiders p:nth-child(216) {
  animation-delay: 1660s;
}
.hiders p:nth-child(217) {
  animation-delay: 1668s;
}
.hiders p:nth-child(218) {
  animation-delay: 1676s;
}
.hiders p:nth-child(219) {
  animation-delay: 1684s;
}
.hiders p:nth-child(220) {
  animation-delay: 1672s;
}
.hiders p:nth-child(221) {
  animation-delay: 1680s;
}
.hiders p:nth-child(222) {
  animation-delay: 1688s;
}
.hiders p:nth-child(223) {
  animation-delay: 1696s;
}
.hiders p:nth-child(224) {
  animation-delay: 1704s;
}
.hiders p:nth-child(225) {
  animation-delay: 1712s;
}
.hiders p:nth-child(226) {
  animation-delay: 1720s;
}
.hiders p:nth-child(227) {
  animation-delay: 1728s;
}
.hiders p:nth-child(228) {
  animation-delay: 1730s;
}
.hiders p:nth-child(229) {
  animation-delay: 1738s;
}
.hiders p:nth-child(230) {
  animation-delay: 1746s;
}
.hiders p:nth-child(231) {
  animation-delay: 1754s;
}
.hiders p:nth-child(232) {
  animation-delay: 1760s;
}
.hiders p:nth-child(233) {
  animation-delay: 1768s;
}
.hiders p:nth-child(234) {
  animation-delay: 1776s;
}
.hiders p:nth-child(235) {
  animation-delay: 1784s;
}
.hiders p:nth-child(236) {
  animation-delay: 1792s;
}
.hiders p:nth-child(237) {
  animation-delay: 1800s;
}
.hiders p:nth-child(238) {
  animation-delay: 1808s;
}
.hiders p:nth-child(239) {
  animation-delay: 1816s;
}
.hiders p:nth-child(240) {
  animation-delay: 1824s;
}
.hiders p:nth-child(241) {
  animation-delay: 1830s;
}
.hiders p:nth-child(242) {
  animation-delay: 1838s;
}
.hiders p:nth-child(243) {
  animation-delay: 1846s;
}
.hiders p:nth-child(244) {
  animation-delay: 1854s;
}
.hiders p:nth-child(245) {
  animation-delay: 1862s;
}
.hiders p:nth-child(246) {
  animation-delay: 1870s;
}
.hiders p:nth-child(247) {
  animation-delay: 1878s;
}
.hiders p:nth-child(248) {
  animation-delay: 1886s;
}
.hiders p:nth-child(249) {
  animation-delay: 1894s;
}
.hiders p:nth-child(250) {
  animation-delay: 1902s;
}
.hiders p:nth-child(251) {
  animation-delay: 1910s;
}
.hiders p:nth-child(252) {
  animation-delay: 1918s;
}
.hiders p:nth-child(253) {
  animation-delay: 1926s;
}
.hiders p:nth-child(254) {
  animation-delay: 1934s;
}
.hiders p:nth-child(255) {
  animation-delay: 1942s;
}
.hiders p:nth-child(256) {
  animation-delay: 1950s;
}
.hiders p:nth-child(257) {
  animation-delay: 1958s;
}
.hiders p:nth-child(258) {
  animation-delay: 1966s;
}
.hiders p:nth-child(259) {
  animation-delay: 1974s;
}
.hiders p:nth-child(260) {
  animation-delay: 1982s;
}
.hiders p:nth-child(261) {
  animation-delay: 1990s;
}
.hiders p:nth-child(262) {
  animation-delay: 1998s;
}
.hiders p:nth-child(263) {
  animation-delay: 2006s;
}
.hiders p:nth-child(264) {
  animation-delay: 2014s;
}
.hiders p:nth-child(265) {
  animation-delay: 2022s;
}
.hiders p:nth-child(266) {
  animation-delay: 2030s;
}
.hiders p:nth-child(267) {
  animation-delay: 2038s;
}
.hiders p:nth-child(268) {
  animation-delay: 2046s;
}
.hiders p:nth-child(269) {
  animation-delay: 2054s;
}
.hiders p:nth-child(270) {
  animation-delay: 2062s;
}
.hiders p:nth-child(271) {
  animation-delay: 2070s;
}
.hiders p:nth-child(272) {
  animation-delay: 2078s;
}
.hiders p:nth-child(273) {
  animation-delay: 2086s;
}
.hiders p:nth-child(274) {
  animation-delay: 2094s;
}
.hiders p:nth-child(275) {
  animation-delay: 2102s;
}
.hiders p:nth-child(276) {
  animation-delay: 2120s;
}
.hiders p:nth-child(277) {
  animation-delay: 2128s;
}
.hiders p:nth-child(278) {
  animation-delay: 2136s;
}
.hiders p:nth-child(279) {
  animation-delay: 2144s;
}
.hiders p:nth-child(280) {
  animation-delay: 2152s;
}

.container{

    margin:auto;
    /*border:black solid 1px;*/
    width:100%;
    height:1000vh;
   
}