@font-face {
  font-family:KoreanPhonetic;
  src:url(KoreanPhonetic.ttf);
}
@font-face {
  font-family:Helvetica;
  src:url(Helvetica.ttf);
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }

}
.link a{
    text-decoration: none;
    font-family:Helvetica;
    font-size:18px;
    padding-bottom: 30px;
    padding-right:40px;
    color:black;
}

.container2 {
  position: relative;
  font-family: KoreanPhonetic; 
    font-size:100px;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: white; /* same as page background */
  animation: typing 8s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 8s;
}
.hiders p:nth-child(3) {
  animation-delay: 16s;
}
.hiders p:nth-child(4) {
  animation-delay: 24s;
}
.hiders p:nth-child(5) {
  animation-delay: 32s;
}
.hiders p:nth-child(6) {
  animation-delay: 40s;
}
.hiders p:nth-child(7) {
  animation-delay: 48s;
}
.hiders p:nth-child(8) {
  animation-delay: 56s;
}
.hiders p:nth-child(9) {
  animation-delay: 64s;
}
.hiders p:nth-child(10) {
  animation-delay: 72s;
}
.hiders p:nth-child(11) {
  animation-delay: 80s;
}
.hiders p:nth-child(12) {
  animation-delay: 88s;
}
.hiders p:nth-child(13) {
  animation-delay: 96s;
}
.hiders p:nth-child(14) {
  animation-delay: 104s;
}
.hiders p:nth-child(15) {
  animation-delay: 112s;
}
.hiders p:nth-child(16) {
  animation-delay: 120s;
}
.hiders p:nth-child(17) {
  animation-delay: 128s;
}
.hiders p:nth-child(18) {
  animation-delay: 136s;
}
.hiders p:nth-child(19) {
  animation-delay: 144s;
}
.hiders p:nth-child(20) {
  animation-delay: 152s;
}
.hiders p:nth-child(21) {
  animation-delay: 160s;
}
.hiders p:nth-child(22) {
  animation-delay: 168s;
}
.hiders p:nth-child(23) {
  animation-delay: 176s;
}
.hiders p:nth-child(24) {
  animation-delay: 180s;
}
.hiders p:nth-child(25) {
  animation-delay: 188s;
}
.hiders p:nth-child(26) {
  animation-delay: 196s;
}
.hiders p:nth-child(27) {
  animation-delay: 204s;
}
.hiders p:nth-child(28) {
  animation-delay: 212s;
}
.hiders p:nth-child(29) {
  animation-delay: 220s;
}
.hiders p:nth-child(30) {
  animation-delay: 228s;
}
.hiders p:nth-child(31) {
  animation-delay: 236s;
}
.hiders p:nth-child(32) {
  animation-delay: 244s;
}
.hiders p:nth-child(33) {
  animation-delay: 252s;
}
.hiders p:nth-child(34) {
  animation-delay: 260s;
}
.hiders p:nth-child(35) {
  animation-delay: 268s;
}
.hiders p:nth-child(36) {
  animation-delay: 276s;
}
.hiders p:nth-child(37) {
  animation-delay: 284s;
}
.hiders p:nth-child(38) {
  animation-delay: 290s;
}
.hiders p:nth-child(39) {
  animation-delay: 298s;
}
.hiders p:nth-child(40) {
  animation-delay: 306s;
}
.hiders p:nth-child(41) {
  animation-delay: 314s;
}
.hiders p:nth-child(42) {
  animation-delay: 322s;
}
.hiders p:nth-child(43) {
  animation-delay: 330s;
}
.hiders p:nth-child(44) {
  animation-delay: 338s;
}
.hiders p:nth-child(45) {
  animation-delay: 346s;
}



.container{

    margin:auto;
    /*border:black solid 1px;*/
    width:100%;
    height:1000vh;
   
}