@font-face {
  font-family:KoreanPhonetic;
  src:url(KoreanPhonetic.ttf);
}
@font-face {
  font-family:Helvetica;
  src:url(Helvetica.ttf);
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }

}
.link a{
    text-decoration: none;
    font-family:Helvetica;
    font-size:18px;
    padding-bottom: 100px;
    padding-right:40px;
    color:black;
}


.container{

    margin:auto;
    /*border:black solid 1px;*/
    width:100%;
    height:400vh;
   
}

input[type=text] {
    width:100%;
  border:none;
border-bottom: 1px solid black;
    font-family:KoreanPhonetic;
    font-size:100px;

}
