body {
    overflow: overlay;
}
html::-webkit-scrollbar{
    width:1.5vw;

}
html::-webkit-scrollbar-thumb{
    background-color:black;
    height:40%;
}
html::-webkit-scrollbar-track{
    display:none;
}
.gradient{
    float:left;
    position:fixed;
    top:0%;
    left:0%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.2) , rgba(255,255,255,0));
    height:130px;
    width:100%;
}

.header-1{
    margin:auto;
    text-align:center;
    padding-top:80px;
    font-family:'Tienne', serif;
    color:black;
    letter-spacing: 0.5em;
    font-size:28px;
}

.side-bar{
    float:left;
    border-right:black solid 1px;
   
    width:70px;
    height:10000px;
}
#scroll{
    width:10px;
    height:100%;
    padding:0;
    margin:0 0 0 auto;
    left:70px;
    top:0;
    position:fixed;
    background-color:transparent
}

#scrollIndicator {
    width:100%;
    height:10%;
    background-color:black;
}

.side-bar-header-green{
    writing-mode: vertical-rl;
    padding:250 0 250px 10;
    font-family:'Tienne', serif;
    color:green;
    font-size:16px;
    letter-spacing:0.03em;
    border-bottom:black solid 1px;

    
}
.side-bar-header-red{
    writing-mode: vertical-rl;
    /*margin-top:400px;*/
    padding:250px 0 0 10;
    font-family:'Tienne', serif;
    color:red;
    font-size:16px;
}


.column-container{
  display:block;
    content:'';
    clear:both;
    height:10000px;
 
}


.column{
    float:left;
    height:100%;
    padding:0px 20px 0 20px;
    width:15%;
    border-right:#e0e0e0 solid 1px;
    
}

.deco-1{
    font-family:'Tienne', serif;
    font-size:400px;
    line-height:0.7;
     padding:0px 0 30px 0;
    text-align:center;
   
}

.header-3{
    font-family:'Pontano Sans', sans-serif;
    font-weight:100;
    font-size:28px;
    line-height:1.2;
     letter-spacing:0em;
}


.body{
     font-family:'Pontano Sans', sans-serif;
    font-size:14px;
    font-weight:100;
    line-height:1.5;

}

a {
       text-decoration:none;
    color:black;
}

.button{
    font-family:'Tienne', serif;
    font-size:16px;
    padding:5% 2px 0 20px;
    display:inline-block;


}
.arrow{
    width:40px;
}
.deco-2{
    font-family:'Tienne', serif;
    font-size:400px;
    line-height:1.1;
    padding:80px 0 30px 0;
    text-align:center;

}
.deco-3{
    font-family:'Tienne', serif;
    font-size:400px;
    line-height:0.8;
    padding:450px 0 30px 0;
    text-align:center;

}
.deco-4{
    font-family:'Tienne', serif;
    font-size:400px;
    line-height:0.8;
    padding:650px 0 30px 0;
    text-align:center;

}
.deco-5{
    font-family:'Tienne', serif;
    font-size:400px;
    line-height:0.8;
    padding:850px 0 30pc 0;
    text-align:center;

}